Repository concordialang/healer: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-fix

.lintstagedrc.json:

{
  "*.{json,md}": ["npm run format"],
  "*.{ts,js}": ["npm run format", "npm run lint-fix"]
}

Add host in server options
  packages/client-web/src/index.ts
  packages/client-web/src/load-config.ts
  packages/client-web/src/models/client-web.config.ts
  packages/client-web/tests/load-config.spec.ts
  packages/lib/src/models/server-options.ts
  packages/lib/src/server/index.ts
  packages/lib/src/server/server.ts
  packages/lib/tests/server/server.spec.ts
Due: npm run format, npm run lint-fix

Save relative test path to fit feature
  packages/codeceptjs-playwright/src/helper/utils.ts
  packages/codeceptjs-playwright/tests/helper.spec.ts
  packages/lib/src/plugin/heal-feature.ts
  packages/lib/src/requirement/requirement.ts
  packages/lib/src/utils/index.ts
Due: npm run format, npm run lint-fix

Show index in healing result list
  packages/lib/src/plugin/index.ts
Due: npm run format, npm run lint-fix

Remove bin from lib package
  packages/lib/bin/index.js
  packages/lib/package.json
Due: npm run format, npm run lint-fix

Remove docker-compose from lib package
  packages/lib/docker-compose.yaml
Due: none

Export utils from lib package
  packages/lib/src/command/index.ts
  packages/lib/src/index.ts
  packages/lib/src/parser/index.ts
Due: npm run format, npm run lint-fix

Add concordialang-healer package
  packages/concordialang-healer/README.md
  packages/concordialang-healer/bin/index.js
  packages/concordialang-healer/package-lock.json
  packages/concordialang-healer/package.json
  packages/concordialang-healer/src/index.ts
  packages/concordialang-healer/tsconfig.json
Due: npm run format, npm run lint-fix

Add plugin option in configuration
  packages/codeceptjs-playwright/src/index.ts
  packages/concordialang-healer/package.json
  packages/concordialang-healer/src/index.ts
  packages/concordialang-healer/src/plugin.ts
  packages/lib/package-lock.json
  packages/lib/package.json
  packages/lib/src/command/init.ts
  packages/lib/src/index.ts
  packages/lib/src/models/healer-config.ts
  packages/lib/src/parser/index.ts
  packages/lib/src/parser/plugin.ts
  packages/lib/tests/command/init.spec.ts
  packages/lib/tests/parser/plugin.spec.ts
  packages/lib/tests/plugin/index.spec.ts
Due: npm run format, npm run lint-fix

Change LoaderFn type
  packages/lib/src/config/loaders.ts
Due: npm run format, npm run lint-fix

Add example package
  packages/example/.concordiarc
  packages/example/.eslintrc.json
  packages/example/.gitignore
  packages/example/.healerrc.json
  packages/example/README.md
  packages/example/codecept.json
  packages/example/docker-compose.yaml
  packages/example/features/login.feature
  packages/example/features/login.testcase
  packages/example/package-lock.json
  packages/example/package.json
  packages/example/src/accounts.json
  packages/example/src/login.html
  packages/example/src/login.ts
  packages/example/src/welcome.html
  packages/example/test/login.js
Due: npm run format, npm run lint-fix

Change package.json
  package.json
Due: npm run format

Add line wrap in typescript hero settings
  .vscode/settings.json
Due: npm run format

Add minimum score option
  packages/example/.healerrc.json
  packages/lib/src/command/init.ts
  packages/lib/src/heal/heal-process.ts
  packages/lib/src/models/healer-config.ts
  packages/lib/src/models/healer-options.ts
  packages/lib/src/parser/index.ts
  packages/lib/tests/heal/index.spec.ts
  packages/lib/tests/parser/parser.spec.ts
  packages/lib/tests/server/heal-endpoint.spec.ts
Due: npm run format, npm run lint-fix

Rename option healer to parser
  packages/common/src/index.ts
  packages/common/src/parser.ts
  packages/example/.healerrc.json
  packages/heuristics-web/src/parser/index.ts
  packages/heuristics-web/tests/parser/index.spec.ts
  packages/lib/src/command/index.ts
  packages/lib/src/command/init.ts
  packages/lib/src/heal/heal-process.ts
  packages/lib/src/index.ts
  packages/lib/src/models/healer-config.ts
  packages/lib/src/models/healer-options.ts
  packages/lib/src/options/explorer.ts
  packages/lib/src/options/heuristic-finder.ts
  packages/lib/src/options/index.ts
  packages/lib/src/options/parser-finder.ts
  packages/lib/src/options/plugin.ts
  packages/lib/src/parser/healer-finder.ts
  packages/lib/tests/command/init.spec.ts
  packages/lib/tests/heal/index.spec.ts
  packages/lib/tests/options/index.spec.ts
  packages/lib/tests/options/plugin.spec.ts
  packages/lib/tests/server/heal-endpoint.spec.ts
Due: npm run format, npm run lint-fix

Change locators in example package
  packages/example/features/login.feature
  packages/example/src/login.html
Due: none

Change readme in example package
  packages/example/README.md
  packages/example/package.json
Due: npm run format

Change readme in client-web package
  packages/client-web/README.md
  packages/client-web/package.json
Due: npm run format

Change readme in codeceptjs-playwright package
  packages/codeceptjs-playwright/README.md
  packages/codeceptjs-playwright/package.json
Due: npm run format

Change readme in common package
  packages/common/README.md
  packages/common/package.json
Due: npm run format

Change readme in element-data package
  packages/element-data/README.md
  packages/element-data/package.json
Due: npm run format

Change readme in heuristics-web package
  packages/heuristics-web/README.md
  packages/heuristics-web/package.json
Due: npm run format

Change readme in lib package
  packages/lib/README.md
  packages/lib/package.json
Due: npm run format

Change readme in client-web package
  packages/client-web/README.md
Due: npm run format

Fix minimum score condition
  packages/lib/src/heal/heal-process.ts
Due: npm run format, npm run lint-fix

Change readme
  README.md
Due: npm run format

Change readme in concordialang-healer package
  packages/concordialang-healer/README.md
  packages/concordialang-healer/package.json
Due: npm run format

Change homepage prop in core package.json
  packages/core/package.json
Due: npm run format

Remove parser from heuristics-web package and create parser-web for it
  packages/core/src/command/init.ts
  packages/core/tests/heal/index.spec.ts
  packages/core/tests/server/heal-endpoint.spec.ts
  packages/example/.healerrc.json
  packages/heuristics-web/README.md
  packages/heuristics-web/package-lock.json
  packages/heuristics-web/src/index.ts
  packages/parser-web/README.md
  packages/parser-web/package-lock.json
  packages/parser-web/package.json
  packages/parser-web/src/index.ts
  packages/parser-web/src/parser/index.ts
  packages/parser-web/src/unique-selector/index.d.ts
  packages/parser-web/tests/parser/index.spec.ts
  packages/parser-web/tsconfig.json
Due: npm run format, npm run lint-fix

Add parser-web in example package
  packages/example/package.json
Due: npm run format

Add jsdom in heuristics-web package dev dependencies
  packages/heuristics-web/package-lock.json
  packages/heuristics-web/package.json
Due: npm run format

Add files prop into package.json files
  packages/client-web/package.json
  packages/codeceptjs-playwright/package.json
  packages/common/package.json
  packages/concordialang-healer/package.json
  packages/core/package.json
  packages/element-data/package.json
Due: npm run format

Fix links in readme files
  README.md
  packages/common/README.md
  packages/example/README.md
Due: npm run format

Change npm labels in readme files
  README.md
  packages/client-web/README.md
  packages/codeceptjs-playwright/README.md
  packages/common/README.md
  packages/concordialang-healer/README.md
  packages/core/README.md
  packages/heuristics-web/README.md
  packages/parser-web/README.md
Due: npm run format

Remove private in exemple package.json
  packages/example/package.json
Due: npm run format

Add publish config
  lerna.json
  package.json
  packages/client-web/package.json
  packages/codeceptjs-playwright/package.json
  packages/common/package.json
  packages/concordialang-healer/package.json
  packages/core/package.json
  packages/element-data/package.json
  packages/example/package.json
  packages/heuristics-web/package.json
  packages/parser-web/package.json
Due: npm run format

Publish
  packages/client-web/package-lock.json
  packages/client-web/package.json
  packages/codeceptjs-playwright/package-lock.json
  packages/codeceptjs-playwright/package.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/concordialang-healer/package-lock.json
  packages/concordialang-healer/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/element-data/package-lock.json
  packages/element-data/package.json
  packages/example/package-lock.json
  packages/example/package.json
  packages/heuristics-web/package-lock.json
  packages/heuristics-web/package.json
  packages/parser-web/package-lock.json
  packages/parser-web/package.json
Due: npm run format
